{{mongodb_user}}    soft    nproc     {{mongodb_soft_nproc}}
{{mongodb_user}}    hard    nproc       {{mongodb_hard_nproc}}
{{mongodb_user}}    soft    nofile      {{mongodb_soft_nofile}}
{{mongodb_user}}    hard    nofile      {{mongodb_hard_nofile}}